/* MAIN STYLE SHEET
 * By Alexis Gauthiez
 * Version 0.1
 */

body {
    font-family: 'Open Sans';
    
    min-width: 320px;
}

h1, h2, h3, h4, h5, h6, nav {
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-weight: bold;
}

header, section, footer {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}

section { padding: 100px 0; }
.colored { color: #43d1c2; }

p {
    text-align: justify;
    font-weight: lighter;
}

a { color: #222; }
a:hover { color: #43d1c2; }

img { margin: 10px; }

header { height: 100%; }
header > div {
    position: absolute;
    width: 100%;
    bottom: 0;
}
nav {
    padding-top: 20%;
    bottom: 0;
}

nav a:hover
{
    color: #222;
    border-top: 5px solid #43d1c2;
}

header { background-image: url(../img/bg1.gif);}
#skills { background-image: url(../img/bg4.gif); }
#other { background-image: url(../img/bg5.gif); }