/**
 *  MAIN STYLE SHEET
 *  By Alexis Gauthiez
 *  Version 1.0
 */

/* COMMON */

body {
    font-family: 'Open Sans';
    cursor: default;
    min-width: 320px;
}

p {
    font-weight: lighter;
    text-align: justify;
}

*::selection {
    background: black;
    color: white;
}

*::-moz-selection {
    background: black;
    color: white;
}

/* SECTIONS */
header { padding: 20% 0; }
nav { margin-top: -10%; }
section, footer { padding: 10% 0; }
header, section, footer {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}

/* CLASSES */
.header, .heavy {
    font-family: 'Montserrat';
    font-weight: bold;
}

.stuck {
    position: fixed;
    width: 100%;
    z-index: 1001;
}

/* BACKGROUNDS */
header { background-image: url(../images/header.gif);}
#skills { background-image: url(../images/skills.gif); }
#other { background-image: url(../images/other.gif); }

/* STATISTICS */
.s0:before { content: "\f10c\f10c\f10c\f10c\f10c"; }
.s1:before { content: "\f111\f10c\f10c\f10c\f10c"; }
.s2:before { content: "\f111\f111\f10c\f10c\f10c"; }
.s3:before { content: "\f111\f111\f111\f10c\f10c"; }
.s4:before { content: "\f111\f111\f111\f111\f10c"; }
.s5:before { content: "\f111\f111\f111\f111\f111"; }